<p id="notice"><%= notice %></p>

<h1>Employees</h1>
<% if !@employees.empty? %>
  <table border=2>
    <thead>
      <tr>
        <th>Name</th>
        <th>Hours left</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.hours_left %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
          <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<p>There are currently no employees in the database</p>
<% end %>
<br>

<%= link_to 'New Employee', new_employee_path %>

<br>
<h1>Time Off</h1>
<%= link_to 'View Time Off Requests', time_off_instances_path %>
<br>
<%= link_to 'New Time Off Request',  new_time_off_instance_path %>
